/* CSS Document */

:root {
  --primary-color: #002B45;
  --secondary-color: #0277BD;
	--primary-text: #eee;
	--secondary-text: #ddd;
	--blur: 10px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: transparent;
	margin-bottom: 20px;
	display: contents;
}

.contact .contact-row {
	height: 50px;
}

.contact .info li {
	list-style: none;
}

.contact .info i {
  font-size: 25px;
  color: var(--primary-color);
	background: var(--primary-text);
  float: left;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 64px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #eee;
}

.contact .info p {
  padding: 0 0 0 64px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--secondary-text);
}

.contact .info {
  margin-bottom: 20px;
}

.contact .info i {
	color: var(--primary-color);
	background-color: var(--primary-text);
}

.contact .info i:hover {
  background: var(--primary-color);
  color: var(--primary-text);
	border: 2px solid var(--primary-text);
}

.contact .info .contact-row {
	margin-bottom: 25px;
}

/* --- FORM --- */

.contact .php-email-form {
  width: 100%;
  background: transparent;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #B00020;
  text-align: left;
	border-radius: 10px;
  padding: 20px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: transparent;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #eee;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
	color: var(--primary-text);
	background-color: transparent;
	border: 0;
	border-left: 2px solid var(--secondary-text);
	border-bottom: 2px solid var(--secondary-text);
	border-radius: 0px;
}

#contact-form input:not(:placeholder-shown), #contact-form textarea:not(:placeholder-shown) {
	color: black;
	background-color: var(--secondary-text);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 6px 12px;
}

#contact-form input:-webkit-autofill,
#contact-form input:-webkit-autofill:hover, 
#contact-form input:-webkit-autofill:focus, 
#contact-form input:-webkit-autofill:active  {
	font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: 0 0 0 30px var(--secondary-text) inset !important;
	box-shadow: 0 0 0 30px var(--secondary-text) inset !important;
	color: white;
}

.contact small {
	color: transparent; 
	background-color: transparent
}


.contact .php-email-form button[type="submit"] {
  background: var(--secondary-color);
  border: 0;
  padding: 10px 35px;
  color: var(--primary-text);
  transition: 0.4s;
  border-radius: 30px;
}

#button:focus {
	outline: none;
	border: none;
}

#contact-form small {
	display: block;
	background-color: transparent;
	color: transparent;
	
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

